<div>
    <h2 id="page-heading">
        <span>Spells</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spell" [routerLink]="['/spell/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Spell
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="spells">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Book</span></th>
            <th><span>Level</span></th>
            <th><span>School</span></th>
            <th><span>Time</span></th>
            <th><span>Range</span></th>
            <th><span>Components</span></th>
            <th><span>Duration</span></th>
            <th><span>Classes</span></th>
            <th><span>Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spell of spells ;trackBy: trackId">
                <td><a [routerLink]="['/spell', spell.id, 'view' ]">{{spell.id}}</a></td>
                <td>{{spell.book}}</td>
                <td>{{spell.level}}</td>
                <td>{{spell.school}}</td>
                <td>{{spell.time}}</td>
                <td>{{spell.range}}</td>
                <td>{{spell.components}}</td>
                <td>{{spell.duration}}</td>
                <td>{{spell.classes}}</td>
                <td>{{spell.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/spell', spell.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/spell', spell.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'spell', { outlets: { popup: spell.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
