<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spell">
            <h2><span>Spell</span> {{spell.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Book</span></dt>
                <dd>
                    <span>{{spell.book}}</span>
                </dd>
                <dt><span>Level</span></dt>
                <dd>
                    <span>{{spell.level}}</span>
                </dd>
                <dt><span>School</span></dt>
                <dd>
                    <span>{{spell.school}}</span>
                </dd>
                <dt><span>Time</span></dt>
                <dd>
                    <span>{{spell.time}}</span>
                </dd>
                <dt><span>Range</span></dt>
                <dd>
                    <span>{{spell.range}}</span>
                </dd>
                <dt><span>Components</span></dt>
                <dd>
                    <span>{{spell.components}}</span>
                </dd>
                <dt><span>Duration</span></dt>
                <dd>
                    <span>{{spell.duration}}</span>
                </dd>
                <dt><span>Classes</span></dt>
                <dd>
                    <span>{{spell.classes}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{spell.description}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{spell.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spell', spell.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
